body {
    background-color: rgb(254, 242, 203);
}
.center {
    text-align: center;
}
.button {
    border: none;
    background-color: rgb(209, 224, 227);
    transition: background-color 0.3s ease;
    border-radius: 0px;
    cursor: pointer;
    padding: 15px 32px;
    display: inline-block;
    color: rgb(70, 70, 70);
    text-align: center;
    text-decoration: none;
    font-family: 'Abril Fatface', sans-serif;
    font-size:24px;
    
}
.current {
    background-color: rgb(255, 217, 102);
}
.large {
    width: 200px;
    height: 50px;
}
.button:hover {
    background-color: rgb(124, 165, 175);
}
.button:link {
    text-decoration: none;
}
.subheading {
    color: rgb(29, 23, 23);
    background-color: rgb(112, 228, 251);
    text-align: center;
    border-radius: 0px;
    font-family: 'Abril Fatface', sans-serif;
    font-size:50px;
    display: block;
    position: absolute;
    top: 100;
    left: 0;
    width: 100%;
    height: 100px;
   
}
/*  255, 217, 102 brigher yellow 
    255, 242, 204 lighter yellow 
	124, 165, 175 brighter grey
    208, 224, 227 lighter grey 
    224, 102, 102 bright red 
    244, 204, 204 lighter red 
